* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    background-color: #f5f6f7;
    min-height: 100vh;
    overflow: auto;
    position: relative;
}

.header {
    padding: 1rem 0;
    text-align: center;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: rgb(9, 66, 84);
}
/* ---x--- Cards ---x--- */
.cards {
    margin: 3rem 0;
}

/* ---x--- Cards ---x--- */

/* ---x--- Cards ---x--- */
.form__select {
    display: flex !important;
    align-items:  center;
    justify-content: center;
    margin: 2rem 0 !important;
}
/* ---x--- Cards ---x--- */

.graph {
    margin: 1rem 0;
}

@media screen and (max-width: 899px) {
    .card:not(:last-child) {
        margin-bottom: 1rem;
    }
}